"requests-2.31.0-py3-none-any.whl"
"web3-6.5.0-py3-none-any.whl"
"python_binance-1.0.17-py2.py3-none-any.whl"
"ua_generator-0.1.8-py3-none-any.whl"
"bs4-0.0.1.tar.gz"
"playwright-1.35.0-py3-none-win_amd64.whl"
"selenium-3.141.0-py2.py3-none-any.whl"
"urllib3-1.26.2-py2.py3-none-any.whl"
"tls_client-0.2.1-py3-none-any.whl"
"websocket_client-1.6.1-py3-none-any.whl"
pypasser
names
colorama
curl_cffi
aiohttp
flask
flask_cors
streamlit
fake-useragent
streamlit-chat@https://github.com/AI-Yash/st-chat/archive/refs/pull/24/head.zip
pydantic
pymailtm
Levenshtein
retrying
mailgw_temporary_email
pycryptodome
random-password-generator
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
PyExecJS
browser_cookie3
2captcha-python
anticaptchaofficial
capmonster-python
execjs
httpx
orjson
tqdm
pyzmail36
imapclient